<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>To do list</title>
</head>
<body>
	<h1>It is a <%= whichDay %></h1>
         	<ul>
         	<li>Eat</li>
         	<li>Sleep</li>
         	<% for(var i=0; i<works.length; i++) { %>
         	<li><%= works[i] %></li>
         <% } %>
         </ul>
	<form action="/" method="POST">
		<input type="text" name="work" placeholder="Enter your work">
		<button type="submit" name="button">Hit Save</button>
	</form>

</body>
</html>