<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>To do list</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<div class="box" id="heading">
	<h1>It is a <%= titleList %></h1>
</div>
         	<div class="box">

         	<% for(var i=0; i<works.length; i++) { %>
         	<div class="item">
         		<input type="checkbox">
         	<p><%= works[i] %></p>
         </div>
         <% } %>
         <form class="item" action="/" method="POST">
		<input type="text" name="work" placeholder="New item" autocomplete="off">
		<button type="submit" name="button">+</button>
	</form>
     </div>
         
	

</body>
</html>